.Portfolio{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.line {
  font-size: 1.3rem;
  color: #000;
  letter-spacing: 0.15rem;
  margin-top: 90px;
}

.Portfolio hr {
  width: 70px;
  height: 2px;
  margin: 20px auto;
  background: #e2a35cf1;
  border: 0;
}
