.Footer{
    height: 100px;
    background: black;
    margin: 50px auto 0 auto;
    color: white;
}
.FooterBody{
    padding: 40px 25px 0 25px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
h2{
    font-size: 1.1rem;
}
p{
    margin-top: 20px;
    font-size: .75rem;
    color: #b3aeae;
}