.uList{
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    width: 350px;
}
.list{
    width: 20px;
    display: inline-block;
    margin-right: 25px;
    color: #c2c2c2
}
.list:hover{
    color: #f38200f1;
}